@font-face {
    font-family: 'UF1';
    src: url('@/shared/assets/fonts/UF1.ttf');
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('@/shared/assets/fonts/RobotoCondensed-Regular.ttf');
}
