html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;

    @media screen and (min-width: 1281px) {
        font-size: 12px;
    }

    @media screen and (min-width: 1920px) {
        font-size: 14px;
    }

    @media screen and (min-width: 2560px) {
        font-size: 20px;
    }

    @include non-desktop {
        font-size: 12px;
    }
}

body {
    margin: 0;
    overflow: hidden;
    cursor: url('@/shared/assets/cursors/arrow.png'), auto;
    background: linear-gradient(0deg, #13161b 0%, #13161b 70%, rgba(82, 0, 0, 1) 100%);
}

#__nuxt {
    width: 100dvw;
    height: 100dvh;
}

h1 {
    font-family: 'UF1';
}

a {
    cursor: url('@/shared/assets/cursors/link.png'), pointer;
}

*::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #241a1b;
}

*::-webkit-scrollbar-thumb {
    background-color: $color-fire-engine-red;
}

*::selection {
    background-color: rgba($color-fire-engine-red, 0.5);
}
